In [1]:
import pandas as pd

In [2]:
df=pd.read_html('http://www.espncricinfo.com/rankings/content/page/211271.html')

In [3]:
df

[    Pos          Team  Matches  Points  Rating
 0     1         India       42    5046     120
 1     2   New Zealand       29    3241     112
 2     3  South Africa       31    3177     102
 3     4       England       45    4593     102
 4     5     Australia       36    3672     102
 5     6     Sri Lanka       40    3795      95
 6     7   West Indies       33    2675      81
 7     8      Pakistan       30    2410      80
 8     9    Bangladesh       26    1566      60
 9    10   Afghanistan        4     195      49
 10   11      Zimbabwe        9     140      16
 11   12       Ireland        3       0       0,
     Pos          Team  Matches  Points  Rating
 0     1       England       54    6745     125
 1     2         India       58    7071     122
 2     3   New Zealand       43    4837     112
 3     4     Australia       50    5543     111
 4     5  South Africa       47    5193     110
 5     6      Pakistan       51    5019      98
 6     7    Bangladesh       46    3963      86
 7     8     Sri Lanka       56    4520      81
 8     9   West Indies       52    4065      78
 9    10   Afghanistan       43    2441      57
 10   11       Ireland       29    1466      51
 11   12      Zimbabwe       35    1538      44
 12   13   Netherlands        6     222      37
 13   14      Scotland       15     534      36
 14   15       Namibia        8     183      23
 15   16          Oman        8     174      22
 16   17         Nepal        8     152      19
 17   18           USA        8     115      14
 18   19           UAE       15     144      10
 19   20           PNG       17       0       0,
     Pos            Team  Matches  Points  Rating
 0     1        Pakistan       31    8366     270
 1     2       Australia       26    6986     269
 2     3         England       21    5568     265
 3     4    South Africa       18    4720     262
 4     5           India       36    9349     260
 5     6     New Zealand       24    6056     252
 6     7       Sri Lanka       27    6413     238
 7     8     Afghanistan       23    5422     236
 8     9      Bangladesh       23    5212     227
 9    10     West Indies       27    6029     223
 10   11        Zimbabwe       21    4082     194
 11   12           Nepal       21    4000     190
 12   13        Scotland       23    4310     187
 13   14         Ireland       36    6630     184
 14   15             UAE       26    4781     184
 15   16     Netherlands       31    5547     179
 16   17            Oman       18    3187     177
 17   18             PNG       30    5277     176
 18   19         Namibia       25    3829     153
 19   20       Hong Kong       19    2727     144
 20   21       Singapore       22    2954     134
 21   22           Qatar       20    2589     129
 22   23          Canada       19    2404     127
 23   24    Saudi Arabia       11    1331     121
 24   25          Jersey       24    2773     116
 25   26           Italy       12    1326     111
 26   27           Kenya       15    1563     104
 27   28          Kuwait       13    1354     104
 28   29         Denmark       14    1438     103
 29   30         Bermuda       12    1119      93
 ..  ...             ...      ...     ...     ...
 56   57         Belgium        9     290      32
 57   58           Samoa       10     318      32
 58   59           Japan       10     317      32
 59   60      Costa Rica        8     252      32
 60   61          Mexico       17     520      31
 61   62         Hungary        6     180      30
 62   63        Bulgaria        8     231      29
 63   64  Czech Republic       17     480      28
 64   65        Thailand       14     369      26
 65   66          Israel        7     173      25
 66   67        Portugal        9     215      24
 67   68         Finland       13     296      23
 68   69          Bhutan        8     180      23
 69   70     South Korea       10     217      22
 70   71     Isle of Man        7     149      21
 71   72           Chile       14     265      19
 72   73      Mozambique       17     260      15
 73   74    Sierra Leone        5      61      12
 74   75          Brazil       13     143      11
 75   76        Maldives       11     114      10
 76   77       St Helena       12     109       9
 77   78           Malta       13     108       8
 78   79         Myanmar        9      23       3
 79   80       Indonesia        7       3       0
 80   81           China       11       0       0
 81   82          Gambia        6       0       0
 82   83       Gibraltar       12       0       0
 83   84       Swaziland        6       0       0
 84   85          Rwanda        6       0       0
 85   86         Lesotho        6       0       0

 [86 rows x 5 columns],
    Pos                Team  Matches  Points  Rating
 0    1     Australia Women       25    3784     151
 1    2         India Women       30    3747     125
 2    3       England Women       27    3303     122
 3    4   New Zealand Women       23    2533     110
 4    5  South Africa Women       33    3154      96
 5    6   West Indies Women       24    1979      82
 6    7      Pakistan Women       23    1707      74
 7    8     Sri Lanka Women       21    1163      55
 8    9    Bangladesh Women       10     542      54
 9   10       Ireland Women        6     110      18,
     Pos                Team  Matches  Points  Rating
 0     1     Australia Women       25    7331     293
 1     2       England Women       22    6141     279
 2     3   New Zealand Women       18    4963     276
 3     4         India Women       33    8566     260
 4     5   West Indies Women       27    6708     248
 5     6  South Africa Women       24    5776     241
 6     7      Pakistan Women       28    6423     229
 7     8     Sri Lanka Women       22    4420     201
 8     9    Bangladesh Women       27    5233     194
 9    10       Ireland Women       22    3622     165
 10   11      Thailand Women       41    6582     161
 11   12      Zimbabwe Women       20    3153     158
 12   13      Scotland Women       19    2759     145
 13   14         Nepal Women       18    2319     129
 14   15           PNG Women       23    2894     126
 15   16           UAE Women       19    2326     122
 16   17        Uganda Women       25    3036     121
 17   18         Samoa Women       15    1816     121
 18   19      Tanzania Women       19    1915     101
 19   20         Kenya Women       11    1053      96
 20   21   Netherlands Women       19    1640      86
 21   22     Indonesia Women       18    1448      80
 22   23     Hong Kong Women       25    1841      74
 23   24       Namibia Women       30    2103      70
 24   25         China Women       23    1554      68
 25   26         Japan Women       14     751      54
 26   27       Vanuatu Women       15     734      49
 27   28      Malaysia Women       27    1183      44
 28   29        Rwanda Women       20     851      43
 29   30       Myanmar Women       10     424      42
 30   31     Argentina Women       14     584      42
 31   32           USA Women        9     371      41
 32   33        Jersey Women        7     280      40
 33   34        Brazil Women       16     624      39
 34   35        Kuwait Women        8     309      39
 35   36  Sierra Leone Women        8     308      39
 36   37        France Women        9     333      37
 37   38      Botswana Women       10     368      37
 38   39       Germany Women        7     234      33
 39   40       Nigeria Women       16     478      30
 40   41       Denmark Women        3      85      28
 41   42   South Korea Women        9     159      18
 42   43        Bhutan Women        6     101      17
 43   44        Malawi Women       10     158      16
 44   45         Chile Women       10     121      12
 45   46        Mexico Women        8      83      10
 46   47       Austria Women        6      54       9
 47   48    Mozambique Women       16     133       8
 48   49       Belgium Women        3      20       7
 49   50     Singapore Women       10       6       1
 50   51          Peru Women        6      13       2
 51   52          Fiji Women       12       0       0
 52   53        Norway Women        6       0       0
 53   54          Mali Women        6       0       0
 54   55       Lesotho Women        3       0       0]

In [4]:
type(df)

list

In [5]:
len(df)

5

In [6]:
df[0]

    Pos          Team  Matches  Points  Rating
0     1         India       42    5046     120
1     2   New Zealand       29    3241     112
2     3  South Africa       31    3177     102
3     4       England       45    4593     102
4     5     Australia       36    3672     102
5     6     Sri Lanka       40    3795      95
6     7   West Indies       33    2675      81
7     8      Pakistan       30    2410      80
8     9    Bangladesh       26    1566      60
9    10   Afghanistan        4     195      49
10   11      Zimbabwe        9     140      16
11   12       Ireland        3       0       0

In [7]:
df[4]

    Pos                Team  Matches  Points  Rating
0     1     Australia Women       25    7331     293
1     2       England Women       22    6141     279
2     3   New Zealand Women       18    4963     276
3     4         India Women       33    8566     260
4     5   West Indies Women       27    6708     248
5     6  South Africa Women       24    5776     241
6     7      Pakistan Women       28    6423     229
7     8     Sri Lanka Women       22    4420     201
8     9    Bangladesh Women       27    5233     194
9    10       Ireland Women       22    3622     165
10   11      Thailand Women       41    6582     161
11   12      Zimbabwe Women       20    3153     158
12   13      Scotland Women       19    2759     145
13   14         Nepal Women       18    2319     129
14   15           PNG Women       23    2894     126
15   16           UAE Women       19    2326     122
16   17        Uganda Women       25    3036     121
17   18         Samoa Women       15    1816     121
18   19      Tanzania Women       19    1915     101
19   20         Kenya Women       11    1053      96
20   21   Netherlands Women       19    1640      86
21   22     Indonesia Women       18    1448      80
22   23     Hong Kong Women       25    1841      74
23   24       Namibia Women       30    2103      70
24   25         China Women       23    1554      68
25   26         Japan Women       14     751      54
26   27       Vanuatu Women       15     734      49
27   28      Malaysia Women       27    1183      44
28   29        Rwanda Women       20     851      43
29   30       Myanmar Women       10     424      42
30   31     Argentina Women       14     584      42
31   32           USA Women        9     371      41
32   33        Jersey Women        7     280      40
33   34        Brazil Women       16     624      39
34   35        Kuwait Women        8     309      39
35   36  Sierra Leone Women        8     308      39
36   37        France Women        9     333      37
37   38      Botswana Women       10     368      37
38   39       Germany Women        7     234      33
39   40       Nigeria Women       16     478      30
40   41       Denmark Women        3      85      28
41   42   South Korea Women        9     159      18
42   43        Bhutan Women        6     101      17
43   44        Malawi Women       10     158      16
44   45         Chile Women       10     121      12
45   46        Mexico Women        8      83      10
46   47       Austria Women        6      54       9
47   48    Mozambique Women       16     133       8
48   49       Belgium Women        3      20       7
49   50     Singapore Women       10       6       1
50   51          Peru Women        6      13       2
51   52          Fiji Women       12       0       0
52   53        Norway Women        6       0       0
53   54          Mali Women        6       0       0
54   55       Lesotho Women        3       0       0

In [8]:
for i in range(len(df)):
    print(df[i])

    Pos          Team  Matches  Points  Rating
0     1         India       42    5046     120
1     2   New Zealand       29    3241     112
2     3  South Africa       31    3177     102
3     4       England       45    4593     102
4     5     Australia       36    3672     102
5     6     Sri Lanka       40    3795      95
6     7   West Indies       33    2675      81
7     8      Pakistan       30    2410      80
8     9    Bangladesh       26    1566      60
9    10   Afghanistan        4     195      49
10   11      Zimbabwe        9     140      16
11   12       Ireland        3       0       0
    Pos          Team  Matches  Points  Rating
0     1       England       54    6745     125
1     2         India       58    7071     122
2     3   New Zealand       43    4837     112
3     4     Australia       50    5543     111
4     5  South Africa       47    5193     110
5     6      Pakistan       51    5019      98
6     7    Bangladesh       46    3963      86
7     8     Sri Lanka       56    4520      81
8     9   West Indies       52    4065      78
9    10   Afghanistan       43    2441      57
10   11       Ireland       29    1466      51
11   12      Zimbabwe       35    1538      44
12   13   Netherlands        6     222      37
13   14      Scotland       15     534      36
14   15       Namibia        8     183      23
15   16          Oman        8     174      22
16   17         Nepal        8     152      19
17   18           USA        8     115      14
18   19           UAE       15     144      10
19   20           PNG       17       0       0
    Pos            Team  Matches  Points  Rating
0     1        Pakistan       31    8366     270
1     2       Australia       26    6986     269
2     3         England       21    5568     265
3     4    South Africa       18    4720     262
4     5           India       36    9349     260
5     6     New Zealand       24    6056     252
6     7       Sri Lanka       27    6413     238
7     8     Afghanistan       23    5422     236
8     9      Bangladesh       23    5212     227
9    10     West Indies       27    6029     223
10   11        Zimbabwe       21    4082     194
11   12           Nepal       21    4000     190
12   13        Scotland       23    4310     187
13   14         Ireland       36    6630     184
14   15             UAE       26    4781     184
15   16     Netherlands       31    5547     179
16   17            Oman       18    3187     177
17   18             PNG       30    5277     176
18   19         Namibia       25    3829     153
19   20       Hong Kong       19    2727     144
20   21       Singapore       22    2954     134
21   22           Qatar       20    2589     129
22   23          Canada       19    2404     127
23   24    Saudi Arabia       11    1331     121
24   25          Jersey       24    2773     116
25   26           Italy       12    1326     111
26   27           Kenya       15    1563     104
27   28          Kuwait       13    1354     104
28   29         Denmark       14    1438     103
29   30         Bermuda       12    1119      93
..  ...             ...      ...     ...     ...
56   57         Belgium        9     290      32
57   58           Samoa       10     318      32
58   59           Japan       10     317      32
59   60      Costa Rica        8     252      32
60   61          Mexico       17     520      31
61   62         Hungary        6     180      30
62   63        Bulgaria        8     231      29
63   64  Czech Republic       17     480      28
64   65        Thailand       14     369      26
65   66          Israel        7     173      25
66   67        Portugal        9     215      24
67   68         Finland       13     296      23
68   69          Bhutan        8     180      23
69   70     South Korea       10     217      22
70   71     Isle of Man        7     149      21
71   72           Chile       14     265      19
72   73      Mozambique       17     260      15
73   74    Sierra Leone        5      61      12
74   75          Brazil       13     143      11
75   76        Maldives       11     114      10
76   77       St Helena       12     109       9
77   78           Malta       13     108       8
78   79         Myanmar        9      23       3
79   80       Indonesia        7       3       0
80   81           China       11       0       0
81   82          Gambia        6       0       0
82   83       Gibraltar       12       0       0
83   84       Swaziland        6       0       0
84   85          Rwanda        6       0       0
85   86         Lesotho        6       0       0

[86 rows x 5 columns]
   Pos                Team  Matches  Points  Rating
0    1     Australia Women       25    3784     151
1    2         India Women       30    3747     125
2    3       England Women       27    3303     122
3    4   New Zealand Women       23    2533     110
4    5  South Africa Women       33    3154      96
5    6   West Indies Women       24    1979      82
6    7      Pakistan Women       23    1707      74
7    8     Sri Lanka Women       21    1163      55
8    9    Bangladesh Women       10     542      54
9   10       Ireland Women        6     110      18
    Pos                Team  Matches  Points  Rating
0     1     Australia Women       25    7331     293
1     2       England Women       22    6141     279
2     3   New Zealand Women       18    4963     276
3     4         India Women       33    8566     260
4     5   West Indies Women       27    6708     248
5     6  South Africa Women       24    5776     241
6     7      Pakistan Women       28    6423     229
7     8     Sri Lanka Women       22    4420     201
8     9    Bangladesh Women       27    5233     194
9    10       Ireland Women       22    3622     165
10   11      Thailand Women       41    6582     161
11   12      Zimbabwe Women       20    3153     158
12   13      Scotland Women       19    2759     145
13   14         Nepal Women       18    2319     129
14   15           PNG Women       23    2894     126
15   16           UAE Women       19    2326     122
16   17        Uganda Women       25    3036     121
17   18         Samoa Women       15    1816     121
18   19      Tanzania Women       19    1915     101
19   20         Kenya Women       11    1053      96
20   21   Netherlands Women       19    1640      86
21   22     Indonesia Women       18    1448      80
22   23     Hong Kong Women       25    1841      74
23   24       Namibia Women       30    2103      70
24   25         China Women       23    1554      68
25   26         Japan Women       14     751      54
26   27       Vanuatu Women       15     734      49
27   28      Malaysia Women       27    1183      44
28   29        Rwanda Women       20     851      43
29   30       Myanmar Women       10     424      42
30   31     Argentina Women       14     584      42
31   32           USA Women        9     371      41
32   33        Jersey Women        7     280      40
33   34        Brazil Women       16     624      39
34   35        Kuwait Women        8     309      39
35   36  Sierra Leone Women        8     308      39
36   37        France Women        9     333      37
37   38      Botswana Women       10     368      37
38   39       Germany Women        7     234      33
39   40       Nigeria Women       16     478      30
40   41       Denmark Women        3      85      28
41   42   South Korea Women        9     159      18
42   43        Bhutan Women        6     101      17
43   44        Malawi Women       10     158      16
44   45         Chile Women       10     121      12
45   46        Mexico Women        8      83      10
46   47       Austria Women        6      54       9
47   48    Mozambique Women       16     133       8
48   49       Belgium Women        3      20       7
49   50     Singapore Women       10       6       1
50   51          Peru Women        6      13       2
51   52          Fiji Women       12       0       0
52   53        Norway Women        6       0       0
53   54          Mali Women        6       0       0
54   55       Lesotho Women        3       0       0

In [9]:
type(df[i])

pandas.core.frame.DataFrame

In [10]:
dd=pd.DataFrame()

In [11]:
for j in range(len(df)):
    dd=dd.append(df[j])

In [12]:
dd

    Pos                Team  Matches  Points  Rating
0     1               India       42    5046     120
1     2         New Zealand       29    3241     112
2     3        South Africa       31    3177     102
3     4             England       45    4593     102
4     5           Australia       36    3672     102
5     6           Sri Lanka       40    3795      95
6     7         West Indies       33    2675      81
7     8            Pakistan       30    2410      80
8     9          Bangladesh       26    1566      60
9    10         Afghanistan        4     195      49
10   11            Zimbabwe        9     140      16
11   12             Ireland        3       0       0
0     1             England       54    6745     125
1     2               India       58    7071     122
2     3         New Zealand       43    4837     112
3     4           Australia       50    5543     111
4     5        South Africa       47    5193     110
5     6            Pakistan       51    5019      98
6     7          Bangladesh       46    3963      86
7     8           Sri Lanka       56    4520      81
8     9         West Indies       52    4065      78
9    10         Afghanistan       43    2441      57
10   11             Ireland       29    1466      51
11   12            Zimbabwe       35    1538      44
12   13         Netherlands        6     222      37
13   14            Scotland       15     534      36
14   15             Namibia        8     183      23
15   16                Oman        8     174      22
16   17               Nepal        8     152      19
17   18                 USA        8     115      14
..  ...                 ...      ...     ...     ...
25   26         Japan Women       14     751      54
26   27       Vanuatu Women       15     734      49
27   28      Malaysia Women       27    1183      44
28   29        Rwanda Women       20     851      43
29   30       Myanmar Women       10     424      42
30   31     Argentina Women       14     584      42
31   32           USA Women        9     371      41
32   33        Jersey Women        7     280      40
33   34        Brazil Women       16     624      39
34   35        Kuwait Women        8     309      39
35   36  Sierra Leone Women        8     308      39
36   37        France Women        9     333      37
37   38      Botswana Women       10     368      37
38   39       Germany Women        7     234      33
39   40       Nigeria Women       16     478      30
40   41       Denmark Women        3      85      28
41   42   South Korea Women        9     159      18
42   43        Bhutan Women        6     101      17
43   44        Malawi Women       10     158      16
44   45         Chile Women       10     121      12
45   46        Mexico Women        8      83      10
46   47       Austria Women        6      54       9
47   48    Mozambique Women       16     133       8
48   49       Belgium Women        3      20       7
49   50     Singapore Women       10       6       1
50   51          Peru Women        6      13       2
51   52          Fiji Women       12       0       0
52   53        Norway Women        6       0       0
53   54          Mali Women        6       0       0
54   55       Lesotho Women        3       0       0

[183 rows x 5 columns]

In [13]:
dd.index=range(183)

In [14]:
dd

     Pos                Team  Matches  Points  Rating
0      1               India       42    5046     120
1      2         New Zealand       29    3241     112
2      3        South Africa       31    3177     102
3      4             England       45    4593     102
4      5           Australia       36    3672     102
5      6           Sri Lanka       40    3795      95
6      7         West Indies       33    2675      81
7      8            Pakistan       30    2410      80
8      9          Bangladesh       26    1566      60
9     10         Afghanistan        4     195      49
10    11            Zimbabwe        9     140      16
11    12             Ireland        3       0       0
12     1             England       54    6745     125
13     2               India       58    7071     122
14     3         New Zealand       43    4837     112
15     4           Australia       50    5543     111
16     5        South Africa       47    5193     110
17     6            Pakistan       51    5019      98
18     7          Bangladesh       46    3963      86
19     8           Sri Lanka       56    4520      81
20     9         West Indies       52    4065      78
21    10         Afghanistan       43    2441      57
22    11             Ireland       29    1466      51
23    12            Zimbabwe       35    1538      44
24    13         Netherlands        6     222      37
25    14            Scotland       15     534      36
26    15             Namibia        8     183      23
27    16                Oman        8     174      22
28    17               Nepal        8     152      19
29    18                 USA        8     115      14
..   ...                 ...      ...     ...     ...
153   26         Japan Women       14     751      54
154   27       Vanuatu Women       15     734      49
155   28      Malaysia Women       27    1183      44
156   29        Rwanda Women       20     851      43
157   30       Myanmar Women       10     424      42
158   31     Argentina Women       14     584      42
159   32           USA Women        9     371      41
160   33        Jersey Women        7     280      40
161   34        Brazil Women       16     624      39
162   35        Kuwait Women        8     309      39
163   36  Sierra Leone Women        8     308      39
164   37        France Women        9     333      37
165   38      Botswana Women       10     368      37
166   39       Germany Women        7     234      33
167   40       Nigeria Women       16     478      30
168   41       Denmark Women        3      85      28
169   42   South Korea Women        9     159      18
170   43        Bhutan Women        6     101      17
171   44        Malawi Women       10     158      16
172   45         Chile Women       10     121      12
173   46        Mexico Women        8      83      10
174   47       Austria Women        6      54       9
175   48    Mozambique Women       16     133       8
176   49       Belgium Women        3      20       7
177   50     Singapore Women       10       6       1
178   51          Peru Women        6      13       2
179   52          Fiji Women       12       0       0
180   53        Norway Women        6       0       0
181   54          Mali Women        6       0       0
182   55       Lesotho Women        3       0       0

[183 rows x 5 columns]

In [15]:
dd.Pos=range(1,184)

In [16]:
dd

     Pos                Team  Matches  Points  Rating
0      1               India       42    5046     120
1      2         New Zealand       29    3241     112
2      3        South Africa       31    3177     102
3      4             England       45    4593     102
4      5           Australia       36    3672     102
5      6           Sri Lanka       40    3795      95
6      7         West Indies       33    2675      81
7      8            Pakistan       30    2410      80
8      9          Bangladesh       26    1566      60
9     10         Afghanistan        4     195      49
10    11            Zimbabwe        9     140      16
11    12             Ireland        3       0       0
12    13             England       54    6745     125
13    14               India       58    7071     122
14    15         New Zealand       43    4837     112
15    16           Australia       50    5543     111
16    17        South Africa       47    5193     110
17    18            Pakistan       51    5019      98
18    19          Bangladesh       46    3963      86
19    20           Sri Lanka       56    4520      81
20    21         West Indies       52    4065      78
21    22         Afghanistan       43    2441      57
22    23             Ireland       29    1466      51
23    24            Zimbabwe       35    1538      44
24    25         Netherlands        6     222      37
25    26            Scotland       15     534      36
26    27             Namibia        8     183      23
27    28                Oman        8     174      22
28    29               Nepal        8     152      19
29    30                 USA        8     115      14
..   ...                 ...      ...     ...     ...
153  154         Japan Women       14     751      54
154  155       Vanuatu Women       15     734      49
155  156      Malaysia Women       27    1183      44
156  157        Rwanda Women       20     851      43
157  158       Myanmar Women       10     424      42
158  159     Argentina Women       14     584      42
159  160           USA Women        9     371      41
160  161        Jersey Women        7     280      40
161  162        Brazil Women       16     624      39
162  163        Kuwait Women        8     309      39
163  164  Sierra Leone Women        8     308      39
164  165        France Women        9     333      37
165  166      Botswana Women       10     368      37
166  167       Germany Women        7     234      33
167  168       Nigeria Women       16     478      30
168  169       Denmark Women        3      85      28
169  170   South Korea Women        9     159      18
170  171        Bhutan Women        6     101      17
171  172        Malawi Women       10     158      16
172  173         Chile Women       10     121      12
173  174        Mexico Women        8      83      10
174  175       Austria Women        6      54       9
175  176    Mozambique Women       16     133       8
176  177       Belgium Women        3      20       7
177  178     Singapore Women       10       6       1
178  179          Peru Women        6      13       2
179  180          Fiji Women       12       0       0
180  181        Norway Women        6       0       0
181  182          Mali Women        6       0       0
182  183       Lesotho Women        3       0       0

[183 rows x 5 columns]

In [17]:
dd.set_index('Pos')

                   Team  Matches  Points  Rating
Pos
1                 India       42    5046     120
2           New Zealand       29    3241     112
3          South Africa       31    3177     102
4               England       45    4593     102
5             Australia       36    3672     102
6             Sri Lanka       40    3795      95
7           West Indies       33    2675      81
8              Pakistan       30    2410      80
9            Bangladesh       26    1566      60
10          Afghanistan        4     195      49
11             Zimbabwe        9     140      16
12              Ireland        3       0       0
13              England       54    6745     125
14                India       58    7071     122
15          New Zealand       43    4837     112
16            Australia       50    5543     111
17         South Africa       47    5193     110
18             Pakistan       51    5019      98
19           Bangladesh       46    3963      86
20            Sri Lanka       56    4520      81
21          West Indies       52    4065      78
22          Afghanistan       43    2441      57
23              Ireland       29    1466      51
24             Zimbabwe       35    1538      44
25          Netherlands        6     222      37
26             Scotland       15     534      36
27              Namibia        8     183      23
28                 Oman        8     174      22
29                Nepal        8     152      19
30                  USA        8     115      14
..                  ...      ...     ...     ...
154         Japan Women       14     751      54
155       Vanuatu Women       15     734      49
156      Malaysia Women       27    1183      44
157        Rwanda Women       20     851      43
158       Myanmar Women       10     424      42
159     Argentina Women       14     584      42
160           USA Women        9     371      41
161        Jersey Women        7     280      40
162        Brazil Women       16     624      39
163        Kuwait Women        8     309      39
164  Sierra Leone Women        8     308      39
165        France Women        9     333      37
166      Botswana Women       10     368      37
167       Germany Women        7     234      33
168       Nigeria Women       16     478      30
169       Denmark Women        3      85      28
170   South Korea Women        9     159      18
171        Bhutan Women        6     101      17
172        Malawi Women       10     158      16
173         Chile Women       10     121      12
174        Mexico Women        8      83      10
175       Austria Women        6      54       9
176    Mozambique Women       16     133       8
177       Belgium Women        3      20       7
178     Singapore Women       10       6       1
179          Peru Women        6      13       2
180          Fiji Women       12       0       0
181        Norway Women        6       0       0
182          Mali Women        6       0       0
183       Lesotho Women        3       0       0

[183 rows x 4 columns]

In [18]:
df_new=dd.to_csv('espn.csv')

In [19]:
df2=pd.read_csv('espn.csv')

In [20]:
df2

     Unnamed: 0  Pos                Team  Matches  Points  Rating
0             0    1               India       42    5046     120
1             1    2         New Zealand       29    3241     112
2             2    3        South Africa       31    3177     102
3             3    4             England       45    4593     102
4             4    5           Australia       36    3672     102
5             5    6           Sri Lanka       40    3795      95
6             6    7         West Indies       33    2675      81
7             7    8            Pakistan       30    2410      80
8             8    9          Bangladesh       26    1566      60
9             9   10         Afghanistan        4     195      49
10           10   11            Zimbabwe        9     140      16
11           11   12             Ireland        3       0       0
12           12   13             England       54    6745     125
13           13   14               India       58    7071     122
14           14   15         New Zealand       43    4837     112
15           15   16           Australia       50    5543     111
16           16   17        South Africa       47    5193     110
17           17   18            Pakistan       51    5019      98
18           18   19          Bangladesh       46    3963      86
19           19   20           Sri Lanka       56    4520      81
20           20   21         West Indies       52    4065      78
21           21   22         Afghanistan       43    2441      57
22           22   23             Ireland       29    1466      51
23           23   24            Zimbabwe       35    1538      44
24           24   25         Netherlands        6     222      37
25           25   26            Scotland       15     534      36
26           26   27             Namibia        8     183      23
27           27   28                Oman        8     174      22
28           28   29               Nepal        8     152      19
29           29   30                 USA        8     115      14
..          ...  ...                 ...      ...     ...     ...
153         153  154         Japan Women       14     751      54
154         154  155       Vanuatu Women       15     734      49
155         155  156      Malaysia Women       27    1183      44
156         156  157        Rwanda Women       20     851      43
157         157  158       Myanmar Women       10     424      42
158         158  159     Argentina Women       14     584      42
159         159  160           USA Women        9     371      41
160         160  161        Jersey Women        7     280      40
161         161  162        Brazil Women       16     624      39
162         162  163        Kuwait Women        8     309      39
163         163  164  Sierra Leone Women        8     308      39
164         164  165        France Women        9     333      37
165         165  166      Botswana Women       10     368      37
166         166  167       Germany Women        7     234      33
167         167  168       Nigeria Women       16     478      30
168         168  169       Denmark Women        3      85      28
169         169  170   South Korea Women        9     159      18
170         170  171        Bhutan Women        6     101      17
171         171  172        Malawi Women       10     158      16
172         172  173         Chile Women       10     121      12
173         173  174        Mexico Women        8      83      10
174         174  175       Austria Women        6      54       9
175         175  176    Mozambique Women       16     133       8
176         176  177       Belgium Women        3      20       7
177         177  178     Singapore Women       10       6       1
178         178  179          Peru Women        6      13       2
179         179  180          Fiji Women       12       0       0
180         180  181        Norway Women        6       0       0
181         181  182          Mali Women        6       0       0
182         182  183       Lesotho Women        3       0       0

[183 rows x 6 columns]